.about-grid {
  position: relative;
  top: -30px;
  width: 650px;
  margin-left: 5px;
  background: transparent;
  backdrop-filter: blur(10px);
  height: 100vh;
}
.me {
  color: red;
}
.aboutMyselfs {
  position: relative;
  left: 430px;
  top: -200px;
  width: 900px;
  height: 250px;
  font-weight: 300;
  color: gray;
}
.abot-flex-wrap {
  position: relative;
  top: 70px;
  left: 550px;
}
.image-content {
  position: relative;
  left: 10px;
  top: 0px;
  width: 300px;
  height: 300px;
  border-radius: 25px;
}
