.footerContainer {
  position: relative;
  top: 71px;
  width: 1670px;
  margin-left: 9px;
  background-color: gray;
  border: 1px solid gray;
  height: 30vh;
  border-radius: 5px;
}
.footer-wrap {
  margin-left: 550px;
  margin-top: 60px;
}
.footer-copyright {
  margin-left: 650px;
}
