.about {
  position: sticky;
  top: 71px;
  width: 1340px;
  margin-left: 5px;
  background-color: gray;
  border: 1px solid gray;
  height: 30vh;
  border-radius: 5px;
}
.footer-wrap {
  margin-left: 450px;
  margin-top: 60px;
}
.footer-copyright {
  margin-left: 550px;
  margin-top: 10px;
}
